*{
    text-align: center;
}
.mainphoto{
    width:40vw;
    /* height:60vh; */
}


.container{
    /* margin:50px 130px; */
    width:100vw;
}

.right-photo{
    /* height: 20%; */
    width: 30%;
    margin-left: 5%;
    /* padding-left: 3rem; */
}
.right-photo img{
    width: 100%;
}
.photo2{
    width:100%;
    height:60vh;
    margin-top:30px;
    margin-bottom:30px;
}
.photo3{
    width:100%;
    height:400px;
    margin-top:30px;
    margin-bottom:30px;
}

.email{
    border-radius: 5px;
    border: solid 1px blue;
    padding: 10px 30px;
    text-align: left;
}
.btn-dark{
    background-color: grey;
    border: none;
}
.social{
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: center;
}
.social a{
    width: 40px;
    margin-right: 20px;
    margin-top: 20px;
    /* border: 2px solid red; */
}
.social a img{
    width: 100%;
}


.footer{
    width: 100vw;
    margin-top: 50px;
}
@media screen and (max-width:768px) {
    .mainphoto{
        height: 286.12pt;
        width: 347.45pt;
    }
}
@media screen and (max-width:414px) {
    .mainphoto{
        height: 280.12pt;
        width: 330.45pt;
    }
}